# Ignore from macOS:
.DS_Store

# Ignore file types in any location:
*.app
*.dmg
*.pkg
*.zip
*.aiff
*.icns
*.png
*.tiff
*.pdf
*.svg
*.icon
*.car
*.pxm
*.pxd
*.iconsproj
*.driveDxLicense
*.preferences

# Ignore if name starts with in any location:
OLD-*
UNUSED-*

# Ignore if name ends with in any location:
*-OUTPUT.txt

# Ignore in "Build Tools":
Free\ Geek\ Private Strings.plist

# Ignore in "fgMIB Resources":
extra-bins/
Tools/

# Ignore in AppleScript Source folders:
DriveDx/
Remote\ Management\ Debugging/
ZIPs\ for\ Auto-Update/

# Ignore in "Other Stuff":
ARCHIVE/
